body #root{
    height: 100%;
    float: left;
    width: 100%;
    position: fixed;
    overflow: auto;
    color:#FFF;
}

body #body-container{
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    padding-bottom: 45px;
}
body #body-container .flex-container-center-space-around {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float:left;
    width: 100%;
    height:100%;
}

body #body-container .flex-container-center-space-around .game-board{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: #fff;
    min-width: 200px;
    min-height: 200px;
    color:#383838;
    padding:20px;
}
body #body-container footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 10px;
    background: #000;
    height: 45px;
}
.playing-board{
    height: 300px;
    width: 300px;
    margin-bottom:20px;
}
.game-cell{
    height:100px;
    width: 100px;
    border: 1px solid #000;
    float: left;
    cursor:pointer;
}
.game-cell .check{
    color:#4F4;
    font-size: 95px;
}
.game-cell .circle{
    color:#f44;
    font-size: 95px;
}



